*{
    margin:0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.notice{
    background-color: black;
    color:white;
    padding: 5px; 
    text-align: center;
}

#home_page_image{
    width:100%;
    height:auto;
}

#title{
    text-align: center;
    margin:10px; 
}

.nav_list{
    display: flex;
    justify-content: right;
}

.nav_list li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.nav_list li a{
    text-decoration: none;
    color: black;
}

.nav_list li a:hover{
    text-decoration: underline;
    color: purple;
}

footer{
    margin: 10px;
    text-align: center;
}

#explore{
    background-color: black;
    padding:5px;
    color:white;
    border-radius: 5px;
    font-size: 18px;
}

#button_wrapper{
    margin: 10px;
    display: flex;
    justify-content: center;
}

h2, h3{
    text-align: center;
}

#signIn_form{
    text-align: center;
    padding:10%;
    line-height: 400%;
}

#button_signIn{
    background-color: black;
    padding:5px;
    color:white;
    border-radius: 5px;
    font-size: 18px;
}

#register_form{
    text-align: center;
    padding:10%;
    line-height: 400%;
}

#button_register{
    background-color: black;
    padding:5px;
    color:white;
    border-radius: 5px;
    font-size: 18px;
}

.error{
    text-align: center;
    color: red;
    margin: 10px;
}

table{
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
td, th{
    border-collapse: collapse;
    border-bottom: 1px solid rgb(126, 126, 126);
    padding: 5px;
    text-align: left;
}
th{
    padding: 20px 5px;
}

td{
    font-size: 0.8em;
}

thead{
    background-color: aliceblue;
    font-size: bigger;
    line-height: 1.5em;
    
}
.evenRow{
    background-color: ghostwhite;
}
